<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ben's Portfolio - About</title>
        <meta charset="utf-8">
        <title>Ben's Portfolio</title>
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
        <link rel="stylesheet" type="text/css" href="~/css/about.css">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/about.js"></script>
        <link rel="shortcut icon" href="~/favicon.ico" />
    </head>
    <body>
        <div id="header">
            <h1>Ben Peters</h1>
            <h3 id="headerlinks"><a href="/">Home</a> | <a href="/about">About</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></h3>
        </div>
        <div id="wrapper">
            <div id="about" style="display: none;">
                <div class="subheader">
                    <h3>About...</h3>
                </div>
                <p>Hello! I'm an extremely driven and creative Full Stack 
                Developer who is currently open for career opportunities 
                as a front-end or back-end web developer in the Greater 
                Seattle Area.</p>
                <p>I'm a recent graduate of Coding Dojo, a coding boot camp 
                located in Bellevue, WA that teaches 3 full stacks in 
                14 weeks. I'm capable of learning new technologies very 
                quickly, and am always looking for opportunities to 
                further expand my skills and grow as a developer.</p>
                <p>Technology has always been a strong passion of mine, and 
                I eagerly seek out new ways to interact with it. I am capable
                of writing code in Java, JavaScript, C#, C++, Visual Basic,
                and Python, and I am capable of doing full-stack web development
                in C# with Microsoft's ASP.NET Core framework, Java with the
                Apache and SpringBoot frameworks, and Python with the Flask and
                Django frameworks. </p>
                <p>I first started dabbling in programming in mid-2011, and 
                have been improving my skills ever since. I have become very
                proficient in identifying and fixing bugs and issues within code. 
                In addition, I enjoy assisting others whenever they have a problem 
                that they can't solve. I enjoy working on a team and can work well
				with others, as well as being able to operate on my own. I seek out
				challenges, and am able to quickly learn solutions to them</p>
            </div><br/>
        </div>
        <div id="footer">
            <p><a href="mailto:benpeters97@yahoo.com">benpeters97@yahoo.com</a> | (425) 903-0432</p>
            <p id="footercontacts"><img src="~/images/github.png" alt="GitHub"><a href=https://www.github.com/awareqwx>Awareqwx</a><img src="~/images/linkedin.png" alt="Linkedin"><a href="https://www.linkedin.com/in/benpetersweb/">ben-peters-web</a></p>
        </div>
    </body>
</html>