<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ben's Portfolio - Contacts</title>
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
        <link rel="stylesheet" type="text/css" href="~/css/contacts.css">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/contacts.js"></script>
        <link rel="shortcut icon" href="~/favicon.ico" />
    </head>
    <body>
        <div id="header">
            <h1>Ben Peters</h1>
            <h3 id="headerlinks"><a href="/">Home</a> | <a href="/about">About</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></h3>
        </div>
        <div id="wrapper">
            <div id="contacts" style="display: none;">
                <div class="subheader">
                    <h3>Contacts</h3>
                </div>
                <ul>
                    <li>Phone: (425) 903-0432</li>
                    <li>Email: <a href="mailto:benpeters97@yahoo.com">benpeters97@yahoo.    com</a></li>
                    <li>LinkedIn: <a href="https://www.linkedin.com/in/benpetersweb/">Ben Peters</a></li>
                </ul>
            </div>
        </div>
        <div id="footer">
            <p><a href="mailto:benpeters97@yahoo.com">benpeters97@yahoo.com</a> | (425) 903-0432</p>
            <p id="footercontacts"><img src="~/images/github.png" alt="GitHub"><a href=https://www.github.com/awareqwx>Awareqwx</a><img src="~/images/linkedin.png" alt="Linkedin"><a href="https://www.linkedin.com/in/benpetersweb/">ben-peters-web</a></p>
        </div>
    </body>
</html>