<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ben's Portfolio</title>
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/index.js"></script>
        <link rel="shortcut icon" href="~/favicon.ico" />
    </head>
    <body>
        <div id="header">
            <h1>Ben Peters</h1>
            <h3 id="headerlinks"><a href="/">Home</a> | <a href="/about">About</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></h3>
        </div>
        <div id="wrapper">
            <div id="profpic" style="display: none;">
                <img src="~/images/photo_of_me.jpg" alt="A photo of me">
            </div>
            <div id="about" style="display: none;">
                <div class="subheader">
                    <h3>About...</h3>
                </div>
                <p>Hey there! I'm a Full Stack Developer who is currently 
                open for career opportunities as a web developer or software
                engineer in the Greater Seattle Area.</p>
                <p>I'm a recent graduate of Coding Dojo, a coding boot camp 
                located in Bellevue, WA that teaches 3 full stacks in 
                14 weeks. I'm capable of learning new technologies very 
                quickly, and am always looking for opportunities to 
                further expand my skills and grow as a developer.</p>
                <a href="/about">Continue reading...</a>
            </div><br/>
            <div class="homeproj" id="dojodachi" style="display: none;">
                <div class="subheader">
                    <h3>Dojodachi</h3>
                </div>
                <p>Dojodachi is a fun interactive web app where you take
                    care of a little ninja. You can feed him to raise his
                    energy, play with him to make him happy, and hopefully
                    get everything high enough to win. Developed as a Coding
                    Dojo project.
                </p>
                <div class="subheader">
                    <h4>Technologies Used</h4>
                </div>
                <div class="techbox">
                    <img src="~/images/c-sharp.png" alt="ASP.NET Core" title="ASP.NET Core">
                    <img src="~/images/JavaScript.png" alt="JavaScript" title="JavaScript">
                    <img src="~/images/jQuery.png" alt="jQuery" title="jQuery">
                    <img src="~/images/ajax.png" alt="Ajax" title="Ajax">
                    <img src="~/images/HTML.png" alt="HTML5" title="HTML5">
                    <img src="~/images/CSS.png" alt="CSS3" title="CSS3">
                    <img src="~/images/azure.png" alt="Azure" title="Azure">
                </div>
                <div class="buttonwrapper">
                    <button id="dojodachibutton" class="button">
                        <p>View Website</p>
                    </button>
                </div>
                <div class="buttonwrapper">
                    <button id="dojodachicodebutton" class="button">
                        <p>View Code</p>
                    </button>
                </div>
            </div>
            <div class="homeproj" id="profprofile" style="display: none;">
                <div class="subheader">
                    <h3>Professional Profile</h3>
                </div>
                <p>
                    A web app designed for Coding Dojo's ASP.NET Core Stack Belt Exam.
                    Create an account and connect with other users on the website.
                    Developed in under 4.5 hours in C# using ASP.Net Core.
                </p>
                <div class="subheader">
                    <h4>Technologies Used</h4>
                </div>
                <div class="techbox">
                    <img src="~/images/c-sharp.png" alt="ASP.NET Core" title="ASP.NET Core">
                    <img src="~/images/mysql.png" alt="MySQL" title="MySQL">
                    <img src="~/images/HTML.png" alt="HTML5" title="HTML5">
                    <img src="~/images/CSS.png" alt="CSS3" title="CSS3">
                    <img src="~/images/aws.png" alt="AWS" title="AWS">
                    <img src="~/images/blank.png">
                </div>
                <div class="buttonwrapper">
                    <button class="button" id="profprofilebutton">
                        <p>View Website</p>
                    </button>
                </div>
                <div class="buttonwrapper">
                    <button class="button" id="profprofilecodebutton">
                        <p>View Code</p>
                    </button>
                </div>
            </div>
            <div class="homeproj" id="friendbook" style="display: none;">
                <div class="subheader">
                    <h3>FriendBook</h3>
                </div>
                <p>A web app designed for Coding Dojo's Python Stack Belt Exam.
                    Make friends with other people over the internet.
                    Developed in under 4.5 hours in Python using Django.
                </p>
                <div class="subheader">
                    <h4>Technologies Used</h4>
                </div>
                <div class="techbox">
                    <img src="~/images/python.png" alt="Python" title="Python">
                    <img src="~/images/django.png" alt="Django" title="Django">
                    <img src="~/images/JavaScript.png" alt="JavaScript" title="JavaScript">
                    <img src="~/images/jQuery.png" alt="jQuery" title="jQuery">
                    <img src="~/images/sqlite.png" alt="SQLite" title="SQLite">
                    <img src="~/images/HTML.png" alt="HTML5" title="HTML5">
                    <img src="~/images/CSS.png" alt="CSS3" title="CSS3">
                </div>
                <div class="buttonwrapper">
                    <button class="button" id="friendbookbutton">
                        <p>View Website</p>
                    </button>
                </div>
                <div class="buttonwrapper">
                    <button class="button" id="friendbookcodebutton">
                        <p>View Code</p>
                    </button>
                </div>
            </div>
        </div>
        <div id="footer">
            <p><a href="mailto:benpeters97@yahoo.com">benpeters97@yahoo.com</a> | (425) 903-0432</p>
            <p id="footercontacts"><img src="~/images/github.png" alt="GitHub"><a href=https://www.github.com/awareqwx>Awareqwx</a><img src="~/images/linkedin.png" alt="Linkedin"><a href="https://www.linkedin.com/in/benpetersweb/">ben-peters-web</a></p>
        </div>
    </body>
</html>