<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ben's Portfolio - Projects</title>
        <meta charset="utf-8">
        <title>Ben's Portfolio</title>
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
        <link rel="stylesheet" type="text/css" href="~/css/projects.css">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/projects.js"></script>
    </head>
    <body>
        <div id="header">
            <h1>Ben Peters</h1>
            <h3 id="headerlinks"><a href="/">Home</a> | <a href="/about">About</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></h3>
        </div>
        <div id="wrapper">
            <div id="deployed" style="display: none;">
                <div class="subheader">
                    <h3>Deployed Projects</h3>
                </div>
                <ul>
                    <li>
                        <a href="https://awareqwxdojodachi.azurewebsites.net">Dojodachi</a><br/>
                        - Interactive web app for playing with a little ninja.<br/>
						- Technologies Used: JavaScript, jQuery, ASP.NET Core, HTML 5, CSS3, Ajax
                    </li>
                    <li>
                        <a href="http://awareqwx.pythonanywhere.com/main/">FriendBook</a><br>
                        - Web app for making friends over the internet. Developed in under 4.5 hours<br/>
						- Technologies Used: Django, SQLite, HTML5, CSS3
                    </li>
                    <li>
                        <a href="http://13.58.239.239/">Professional Profile</a><br/>
                        - Web app to connect with other users. Developed in under 4.5 hours.<br/>
						- Technologies Used: ASP.NET Core, MySQL, HTML5, CSS3, AWS
                    </li>
                    <li>
                        <a href="http://18.217.50.245">Dojo Activities</a><br/>
                        - Web app to create and sign up for activities. Developed in under 4.5 hours.<br/>
                    </li>
                    <li>
                        <a href="http://18.216.155.186">Spring Courses</a><br/>
                        - Web app to sign up for courses at Coding Dojo. Developed in under 4.5 hours.<br/>
						- Technologies Used: Spring Boot, jQuery, MySQL, HTML5, CSS3, AWS
                    </li>
                </ul>
            </div><br/>
            <div id="repos" style="display: none;">
                <div class="subheader">
                    <h3>Repositories</h3>
                </div>
                <a href="http://www.github.com/awareqwx"><img class="repoimg" src="~/images/github.png"> Github - http://www.github.com/awareqwx</a>
            </div>
        </div>
        <div id="footer">
            <p><a href="mailto:benpeters97@yahoo.com">benpeters97@yahoo.com</a> | (425) 903-0432</p>
            <p id="footercontacts"><img src="~/images/github.png" alt="GitHub"><a href=https://www.github.com/awareqwx>Awareqwx</a><img src="~/images/linkedin.png" alt="Linkedin"><a href="https://www.linkedin.com/in/benpetersweb/">ben-peters-web</a></p>
        </div>
    </body>
</html>